<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Inzulin adminisztráció</mat-card-title>
    </mat-card-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <button mat-button color="primary" type="submit" class="btn btn-default">Submit</button>
</form>
  </mat-card>
</div>
<pre>{{model | json}}</pre>
