<h2>{{this.appcomponent.userLevel == 1 ? 'Adminisztrációk' : 'Adminisztrációim'}}</h2>

<mat-card *ngIf="this.total == 0">
  <mat-card-header>
    <mat-card-title>{{this.appcomponent.userLevel == 1 ? 'Jelenleg nincsenek adminisztrációk' : 'Önnek nincs mentett adminisztrációja.'}}</mat-card-title>
  </mat-card-header>
</mat-card>

<div *ngFor="let medicationAdministration of this.medicationAdministrationArray">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{medicationAdministration.resource.subject.display + ' - ' + medicationAdministration.resource.medicationCodeableConcept.coding[0].display}}</mat-card-title>
      <mat-card-subtitle>{{'Azonosító: ' + medicationAdministration.resource.id}}</mat-card-subtitle>
      <mat-card-subtitle>{{'Státusz: ' + medicationAdministration.resource.status}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Időpont: </td><td>{{medicationAdministration.resource.effectivePeriod.end}}</td></tr>
        <tr><td>Kapcsolódó recept azonosító: </td><td>{{medicationAdministration.resource.prescription.reference}}</td></tr>
        <tr><td>Felhasznált mennyiség: </td><td>{{medicationAdministration.resource.dosage.text}}</td></tr>
        <tr><td>Utolsó frissítés: </td><td>{{medicationAdministration.resource.meta.lastUpdated}}</td></tr>
        <tr><td>Recept törlése:  </td><td><button mat-button color="primary" (click)="this.deleteMedicationAdministration(medicationAdministration.resource.id)">Törlöm!</button></td></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
</div>
