<div *ngFor="let practitioner of this.practitionerArray">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{practitioner.resource.name[0].prefix + " " + practitioner.resource.name[0].family + " " + practitioner.resource.name[0].given}}</mat-card-title>
      <mat-card-subtitle>{{'Azonosító szám: ' + practitioner.resource.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Cím: </td><td>{{practitioner.resource.address[0].country + " " + practitioner.resource.address[0].postalCode + " " + practitioner.resource.address[0].state + " " + practitioner.resource.address[0].city}}</td></tr>
        <tr><td>Nem: </td><td>{{practitioner.resource.gender}}</td></tr>
        <tr><td>Jelenleg aktívan dolgozik: </td><td>{{practitioner.resource.active ? 'Igen' : 'Nem'}}</td></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
</div>
