<div *ngFor="let medicationRequest of this.medicationRequestArray">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{medicationRequest.resource.medicationCodeableConcept.coding[0].display}}</mat-card-title>
      <mat-card-subtitle>{{medicationRequest.resource.medicationCodeableConcept.coding[0].code}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Azonosító: </td><td>{{medicationRequest.resource.id}}</td></tr>
        <tr><td>Jogosult: </td><td>{{medicationRequest.resource.subject.reference}}</td></tr>
        <tr><td>Kiváltás dátuma: </td><td>{{medicationRequest.resource.authoredOn}}</td></tr>
        <tr><td>Felíró: </td><td>{{medicationRequest.resource.requester.agent.reference}}</td></tr>
        <tr><td>Utolsó frissítés: </td><td>{{medicationRequest.resource.meta.lastUpdated}}</td></tr>
        <tr><td>Recept törlése:  </td><td><button mat-button color="primary" (click)="this.deleteMedicationRequest(medicationRequest.resource.id)">Törlöm!</button></td></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
