<h2>{{this.appcomponent.userLevel == 1 ? 'Receptek' : 'Receptjeim'}}</h2>

<mat-card *ngIf="this.total == 0">
  <mat-card-header>
    <mat-card-title>{{this.appcomponent.userLevel == 1 ? 'Jelenleg nincsenek felírt receptek.' : 'Az ön számára jelenleg nincsen felírt recept.'}}</mat-card-title>
  </mat-card-header>
</mat-card>

<div *ngFor="let medicationRequest of this.medicationRequestArray">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{medicationRequest.resource.medicationCodeableConcept.coding[0].display}}</mat-card-title>
      <mat-card-subtitle>Azonosító: {{medicationRequest.resource.id}}</mat-card-subtitle>
      <mat-card-subtitle>Státusz: {{medicationRequest.resource.status == 'completed' ? 'Kiváltott' : 'Aktív'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>

        <tr><td>Jogosult: </td><td>{{medicationRequest.resource.subject.reference}}</td></tr>
        <tr><td>Felírás dátuma: </td><td>{{medicationRequest.resource.authoredOn}}</td></tr>
        <tr><td>Felíró: </td><td>{{medicationRequest.resource.requester.agent.reference}}</td></tr>
        <tr><td>Utolsó frissítés: </td><td>{{medicationRequest.resource.meta.lastUpdated}}</td></tr>
        <tr *ngIf="medicationRequest.resource.status != ('completed')"><td>Recept kiváltása: </td><td><button mat-button color="accent" (click)="this.makePrescriptionDispense(medicationRequest)">Kiváltás!</button></td></tr>
        <tr *ngIf="this.appcomponent.userLevel == 1"><td>Recept törlése:  </td><td><button mat-button color="accent" (click)="this.deleteMedicationRequest(medicationRequest.resource.id)">Törlöm!</button></td></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
</div>
