<form>
  <mat-form-field>
    <input matInput type="text" [(ngModel)] = 'patientIdForField' placeholder="Páciens azonosító" name="patientIdField" required>
  </mat-form-field>
  <button mat-stroked-button color="primary" class="button" (click)="this.deletePatient([(patientIdForField)])" [disabled]="!patientIdForField">Törlés</button>
</form>

<form>
  <mat-form-field>
    <input matInput type="text" [(ngModel)] = 'medicationRequestIdForField' placeholder="Recept azonosító" name="medicationRequestIdForField" required>
  </mat-form-field>
  <button mat-stroked-button color="primary" class="button"
          (click)="this.deleteMedicationRequest([(medicationRequestIdForField)])"
          [disabled]="!medicationRequestIdForField">Törlés</button>
</form>

<form>
  <mat-form-field>
    <input matInput type="text" [(ngModel)] = 'medicationDispenseIdForField' placeholder="Kiváltott recept azonosító" name="medicationDispenseIdForField" required>
  </mat-form-field>
  <button mat-stroked-button color="primary" class="button"
          (click)="this.deleteMedicationDispense([(medicationDispenseIdForField)])"
          [disabled]="!medicationDispenseIdForField">Törlés</button>
</form>

<form>
  <mat-form-field>
    <input matInput type="text" [(ngModel)] = 'medicationAdministrationIdForField' placeholder="Adminisztráció azonosító" name="medicationAdministrationIdForField" required>
  </mat-form-field>
  <button mat-stroked-button color="primary" class="button"
          (click)="this.deleteMedicationAdministration([(medicationAdministrationIdForField)])"
          [disabled]="!medicationAdministrationIdForField">Törlés</button>
</form>
