<h1>Inzulin menedzser portál</h1>

<div *ngIf="auth.user$ | async as user; else login">
  <pre>
    {{ user | json }}
    <img src="{{user.photoURL}}" alt="Smiley face" height="42" width="42">
  </pre>
  <hr>
  <button mat-stroked-button color="accent" class="btn-block"  class="button" (click)="auth.signOut()">Sign Out</button>
</div>

<ng-template #login>
  <!--<button class="button" (click)="auth.googleSignin()">Bejelentkezés</button>-->
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Google authentikáció</mat-card-title>
      </mat-card-header>

      <form class="example-form">
        <p></p>
        <button mat-stroked-button color="accent" class="btn-block" (click)="auth.googleSignin()">Belépés</button>
      </form>
    </mat-card>
  </div>
</ng-template>





<router-outlet></router-outlet>
