<div>
  <!--<pre>
    {{ user | json }}
    <img src="{{user.photoURL}}" alt="Smiley face" height="42" width="42">
  </pre>-->
  <mat-divider></mat-divider>
  <button mat-stroked-button color="primary" class="btn-block" class="button" *ngIf="isBundleArraysEmpty() == true" (click)="appcomponent.getPatientBundle()">Páciensek listázása</button>
  <button mat-stroked-button color="primary" class="btn-block"  class="button" *ngIf="appcomponent.patientBundleArray.length > 0" (click)="appcomponent.patientBundleArray.length = 0">Bezárás</button>
  <app-get-patient-bundle *ngIf="appcomponent.patientBundleArray.length > 0"></app-get-patient-bundle>

  <button mat-stroked-button color="primary" class="btn-block" class="button" *ngIf="isBundleArraysEmpty() == true" (click)="appcomponent.getMedicationRequestBundle()">Receptek listázása</button>
  <button mat-stroked-button color="primary" class="btn-block"  class="button" *ngIf="appcomponent.medicationRequestBundleArray.length > 0" (click)="appcomponent.medicationRequestBundleArray.length = 0">Bezárás</button>
  <app-get-medication-request-bundle  *ngIf="appcomponent.medicationRequestBundleArray.length > 0"></app-get-medication-request-bundle>

  <button mat-stroked-button color="primary" class="btn-block" class="button" *ngIf="isBundleArraysEmpty() == true" (click)="appcomponent.getMedicationDispenseBundle()">Kiváltott receptek listázása</button>
  <button mat-stroked-button color="primary" class="btn-block"  class="button" *ngIf="appcomponent.medicationDispenseBundleArray.length > 0" (click)="appcomponent.medicationDispenseBundleArray.length = 0">Bezárás</button>
  <app-get-medication-dispense-bundle *ngIf="appcomponent.medicationDispenseBundleArray.length > 0"></app-get-medication-dispense-bundle>

  <button mat-stroked-button color="primary" class="btn-block" class="button" *ngIf="isBundleArraysEmpty() == true" (click)="appcomponent.getMedicationAdministrationBundle()">Adminisztrációk listázása</button>
  <button mat-stroked-button color="primary" class="btn-block"  class="button" *ngIf="appcomponent.medicationAdministrationBundleArray.length > 0" (click)="appcomponent.medicationAdministrationBundleArray.length = 0">Bezárás</button>
  <app-get-medication-administration-bundle *ngIf="appcomponent.medicationAdministrationBundleArray.length > 0"></app-get-medication-administration-bundle>

  <button mat-stroked-button color="primary" class="btn-block" class="button" (click)="showMedicationAdministrationComponent()">Adminisztrálás !</button>

  <form>
    <mat-form-field>
      <input matInput type="text" [(ngModel)] = 'patientIdForField' placeholder="Páciens azonosító" name="patientIdField" required>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="button" (click)="appcomponent.deletePatient([(patientIdForField)])" [disabled]="!patientIdForField">Törlés</button>
  </form>

  <form>
    <mat-form-field>
      <input matInput type="text" [(ngModel)] = 'medicationAdministrationIdForField' placeholder="Adminisztráció azonosító" name="medicationAdministrationIdForField" required>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="button"
            (click)="appcomponent.deleteMedicationAdministration([(medicationAdministrationIdForField)])"
            [disabled]="!medicationAdministrationIdForField">Törlés</button>
  </form>

  <form>
    <mat-form-field>
      <input matInput type="text" [(ngModel)] = 'medicationRequestIdForField' placeholder="Recept azonosító" name="medicationRequestIdForField" required>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="button"
            (click)="appcomponent.deleteMedicationRequest([(medicationRequestIdForField)])"
            [disabled]="!medicationRequestIdForField">Törlés</button>
  </form>

  <form>
    <mat-form-field>
      <input matInput type="text" [(ngModel)] = 'medicationDispenseIdForField' placeholder="Kiváltott recept azonosító" name="medicationDispenseIdForField" required>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="button"
            (click)="appcomponent.deleteMedicationDispense([(medicationDispenseIdForField)])"
            [disabled]="!medicationDispenseIdForField">Törlés</button>
  </form>
</div>





