  <div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Health Center</mat-card-title>
        <mat-card-subtitle>v0.7</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../../../assets/images/login_welcome.jpg" width="100%"/>
        <form class="form">
          <h1>Szegedi Tudományegyetem, Informatikai Intézet</h1>
          <h2>Interoperabilitás és szerepe az egészségügyben, ennek bemutatása a recept kezelésen és felhasználáson keresztül.</h2>
          <h2>Szakdolgozat</h2>
          <h3>Készítette:<br>Horváth Olivér Zoltán</h3>
          <h3></h3>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" class="btn-block" (click)="auth.googleSignin()">Belépés</button>
      </mat-card-actions>
    </mat-card>
  </div>
