<h2>Kiváltott{{this.appcomponent.userLevel == 1 ? ' receptek' : ' receptjeim'}}</h2>

<mat-card *ngIf="this.total == 0">
  <mat-card-header>
    <mat-card-title>{{this.appcomponent.userLevel == 1 ? 'Jelenleg nincsenek kiváltott receptek.' : 'Önnek nincsen kiváltott receptje.'}}</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card fxLayout="row" *ngFor="let medicationDispense of this.medicationDispenseArray">
  <table fxFlex="50%">
    <td>
      <tr><mat-card-title>{{medicationDispense.resource.subject.display + ' - ' + medicationDispense.resource.medicationCodeableConcept.coding[0].display}}</mat-card-title></tr>
      <tr><mat-card-subtitle>{{'Státusz: ' + (medicationDispense.resource.status === 'completed' ? 'Befejezett' : medicationDispense.resource.status) }}</mat-card-subtitle></tr>
      <tr *ngIf="this.appcomponent.userLevel == 1"><td>Kiváltott recept törlése:</td></tr>
      <tr *ngIf="this.appcomponent.userLevel == 1"><td><button mat-button color="primary" (click)="this.deleteMedicationDispense(medicationDispense.resource.id)">Törlöm!</button></td></tr>
    </td>
    <td>
      <td>
        <tr><td>Azonosító: </td><td>{{medicationDispense.resource.id}}</td></tr>
        <tr><td>Recept azonosító: </td><td>{{medicationDispense.resource.authorizingPrescription[0].reference}}</td></tr>
        <tr><td>Páciens azonosító: </td><td>{{medicationDispense.resource.subject.reference}}</td></tr>
        <tr><td>Felíró orvos: </td><td>{{medicationDispense.resource.performer[0].actor.reference}}</td></tr>
        <tr><td>Mennyiség: </td><td>{{medicationDispense.resource.quantity.value + ' ' + medicationDispense.resource.quantity.code}}</td></tr>
        <tr><td>Elegendő idő: </td><td>{{medicationDispense.resource.daysSupply.value}} {{medicationDispense.resource.daysSupply.unit === 'Day' ? 'Nap' : medicationDispense.resource.daysSupply.unit}}</td></tr>
        <tr><td>Adagolás: </td><td>{{medicationDispense.resource.dosageInstruction[0].text}}</td></tr>
        <tr><td>Recept felírásának ideje: </td><td>{{medicationDispense.resource.whenPrepared}}</td></tr>
    </td>
    <td>
      <tr><td>Hátralévő egységek: </td><td>{{medicationDispense.resource.extension[0].value}}</td></tr>
      <tr *ngIf="medicationDispense.resource.extension[0].value > 0"><td></td><td><button mat-button color="primary" (click)="this.makePrescriptionAdministration(medicationDispense)">Adminisztrálom !</button></td></tr>
      <tr *ngIf="medicationDispense.resource.extension[0].value < 20"><td>Elfogyott !</td><td><button mat-button color="primary" (click)="this.appcomponent.router.navigateByUrl('get-medication-request-bundle').then()">Új kiváltása !</button></td></tr>
    </td>
  </table>
</mat-card>
















