<h2>Felhasználók</h2>
<div *ngFor="let patient of this.patientArray">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{patient.resource.name[0].family + " " + patient.resource.name[0].given}}</mat-card-title>
        <mat-card-subtitle>{{"Születési ideje: " + patient.resource.birthDate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr><td>Azonosító szám:</td><td>{{patient.resource.id}}</td></tr>
          <tr><td>Hivatalos email cím:</td><td>{{patient.resource.identifier[0].value}}</td></tr>
          <tr><td>Kapcsolati email cím:</td><td>{{patient.resource.telecom[0].value}}</td></tr>
          <tr><td>Telefon szám</td><td>{{patient.resource.telecom[1].value}}</td></tr>
          <tr><td>Nyelv:</td><td>{{patient.resource.communication[0].language.coding[0].display}}</td></tr>
          <tr><td>Cím:</td><td>{{patient.resource.address[0].country + ", " + patient.resource.address[0].state + " megye, " + patient.resource.address[0].postalCode + " " + patient.resource.address[0].city + ", " + patient.resource.address[0].line}}</td></tr>
          <tr><td>Nem:</td><td>{{patient.resource.gender == 'male' ? 'Férfi' : 'Nő'}}</td></tr>
          <tr><td>Kapcsolati státusz:</td><td>{{patient.resource.maritalStatus.coding[0].code == 'S' ? 'Nem házas' : 'Kapcsolatban'}}</td></tr>
          <tr><td>Páciens törlése:</td><td><button mat-button color="primary" (click)="this.deletePatient(patient.resource.id)">Törlöm!</button></td></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <br>
</div>
