mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-family: "Times New Roman"
}

h2 {
  display: flex;
  justify-content: center;
  color: rebeccapurple;
}
